section.hero
    h2 Lorem ipsum dolor sit amet, elit
    h1 Proin tincidunt lectus eget commodo 
section.content
    ul.ul_grid
        li.big_1
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        li.small_1
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        li.small_2
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        li.small_3
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        li.small_4
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        li.big_2
            .box
                h3 Proin posuere quam
                p Sed placerat mollis dolor a mattis
        
        //- li.small_1
        //-     .box
        //-         h3 Proin posuere quam
        //-         p Sed placerat mollis dolor a mattis
        //- li.small_2
        //-     .box
        //-         h3 Proin posuere quam
        //-         p Sed placerat mollis dolor a mattis
        //- li.big_2
        //-     .box
        //-         h3 Proin posuere quam
        //-         p Sed placerat mollis dolor a mattis
        //- li.small_3
        //-     .box
        //-         h3 Proin posuere quam
        //-         p Sed placerat mollis dolor a mattis
        //- li.small_4
        //-     .box
        //-         h3 Proin posuere quam
        //-         p Sed placerat mollis dolor a mattis